/* .add-supplier select{
    width:230px;
}

/* .add-supplier .modal-body{
    overflow: auto;
    height: 305px;
} */
.pagination-setting{

    padding-left: 200px;
    padding-top: 26px;
}
.pagincation-customer{
 top:5px
}

 #dropdown-style-custledger{

    display: block;
    width: 50px;
    height: 30px;
}
.pagination-input-style-custledger{
  display: flex;

}
.page-setting{
    padding-top: 24px;
}
 


.thead-ledger {
  display: table;
  width: 100%;
  table-layout: fixed;
}
.body-ledger {
  display: table;
  width: 100%;
  table-layout: fixed;
}
.bodystyle-custledger {
  display: block;
  height: 400px;
  overflow-x: hidden;
  overflow-y: scroll;
}
.customerledger-total{

  color: antiquewhite;
  font-size: 25px;
             font-family: 'initial';


}
#moveToUp{

  top:-72px
}
